*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: bisque;
}
.bold{
    font-weight: bold;
}
.thin{
    font-weight: 300;
}
.clearfix{
    clear: both;
}
.text-center{
    text-align: center;
}
.section{

}
.grid{
    display: grid;
}
.folio{
    width:90%;
    margin:auto;
    max-width: 900px;
    background-color: white;
    padding: 100px 40px;
    margin-top: 100px;
    position: relative;
}
.folio section{
    margin:20px 0 40px 20px;
}
.folio .grid{
    grid-template-columns:20% auto;
    margin:20px 0;
}
.folio .descripcion{
    color:gray;
}
/*
MENU
*/

#menuCont{
    background-color:#303030;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding:5px;
    z-index: 10;
}

#menuTrigger{
    display:none;
}
#menuTrigger:checked + ul{
    transform:translatex(0);
}
#menuBut{
    float: right;
    margin: 10px 20px 10px 10px;
}
#menuBut img:hover{
    cursor: pointer;
}
#menuCont ul{
    position: absolute;
    transform:translatex(100%);
    transition:transform 0.5s ease-in-out;
    background-color: #7b7474;
    top:66px;
    right:0;
    padding:15px;

}
#menuCont ul li{
    padding:10px 5px;
}
#menuCont ul li a{
    color:white;
    
}
/*
INTRO
*/
#inicio{
    width: 100%;
    height: 100vh;
    background-image: url("../img/fondo");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
#inicio div{
    background-color: rgba(255,255,255,0.6);
    padding:40px;
    max-width: 400px;
}
#inicio h1{
    color:white;
    text-shadow: 0px 1px 1px black;

}

.avatar img{
    width: 200px;
    float: right;
    margin-top: -50px;
}

.folio::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -25px;
    background: #FFE4C4;
    border-left: solid 37px transparent;
    border-right: solid 40px transparent;
    border-top: solid 39px #FFE4C4;
    transform: rotate(134deg);
}

.esquina-doblada .fondo{
    position: absolute;
    top: -4px;
    left: -25px;
    background: #FFE4C4;
    border-left: solid 37px transparent;
    border-right: solid 40px transparent;
    border-top: solid 39px #FFE4C4;
    transform: rotate(134deg); 
}
.esquina-doblada .doblez{
    position: absolute;
    top: 22px;
    left: 2px;
    background: white;
    border-left: solid 37px transparent;
    border-right: solid 40px transparent;
    border-top: solid 39px #d2d1d1;
    transform: rotate(314deg);
}

.esquin-doblada .sombra-abajo{
    position: absolute;
    top: 54px;
    left: 0;
    width: 51px;
    height: 0;
    border-top: 1px solid transparent;
    box-shadow: 1px 1px 1px gray;
}