@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/presets';
@import 'partials/animations';
@import 'partials/form';

@import 'partials/bsiscrap';

*{
    color:$gris;
}
body{
    font-size: $baseFontSize;
    @extend %light;
}
.title{
    color:$negro;
    @extend %semi-bold;
    display: block;
}
.heading{
    color:$gris;
    @extend %medium;
    display: block;
}

/*
    MENU    
*/

/*********************
COMPORTAMIENTO DEL BOTON MENU
*********************/
#menuTrigger {
    display: none;
}

#menuTrigger:checked~ul {
    transform: translatex(0);
}

#menuTrigger:checked+#menuBut {
    background-image: $closeMenu;
}

/*********************/
.logo {
    span {
        float: left;
        font-size: 19px;
        margin: 14px 10px 10px 30px;
        color: $negro;
        font-weight: bold;
    }
}

#menuBut {
    position: fixed;
    top:15px;
    right: 20px;
    background-image: $menu;
    background-size: 100% 100%;
    width: 38px;
    height: 32px;

    &:hover {
        cursor: pointer;
    }
}

#menuCont {
    padding: 5px;
    height: $topMenuHeight;
    z-index: 12;
    ul {
        position: fixed;
        @include transform(translatex(100%));
        @include transition(transform, 0.5s, ease-in-out, );
        top: $topMenuHeight - 3;
        right: 0;
        padding-top: 5px;
        height: 100vh;
        background-color: white;
        border-top:3px solid $iconColor;
        border-left: 3px solid $iconColor;

        li {
            padding: 10px 15px;

            &:hover {
                cursor: pointer;
                background-color: $iconColor;
                @include transform(scale(1.06));
                a{
                    color:white;
                }
            }

            a {
                color: $negro;
                font-size: 18px;
            }
        }
    }
}

/*
* INTRO
*/
#inicio{
    width: 100%;
    height: 100vh;
    background: {
        //image: $fondoInicio;
        size: cover;
        attachment: fixed;
    }
    div{
        padding:40px;
        max-width: 650px;
        flex: 1;
        margin:auto;
        img{
            margin: auto;
            width: 160px;
            height: 160px;
        } 
        h1{
            //text-shadow: 1px 1px 4px #000c;
            text-transform: uppercase;
            font-size: 26px;
            @extend %light;
            font-size: 13px;
            margin-bottom:35px;
            span{
                font-size: 19px;
                margin-bottom: 20px;
                display: block;
            }
        }
    }
    
    a#to-content{
        position: absolute;
        bottom:25px;
        left:50%;
        @include transform (translatex(-50%));
        width: 32px;
        height: 32px;
        background: {
            image: $downArrow;
            position: center;
            size:100%;
            repeat:no-repeat;
            color:transparent;
        }
        &:hover{
            @include transform (translatex(-50%) scale(1.15));
            cursor: pointer;
        }
    }
}

#wrapper{
    position: relative;
    padding-top: 45px;
    max-width: 1300px;
    margin:auto;
    margin-bottom: 40px;
    > .left-column{
        float:left;
        width: 310px;
        text-align: right;
        padding-right: 60px;
        padding-top: 20px;
        border-right: 3px solid $iconColor;
        h2{
            text-transform: uppercase;
        }
        section{
            max-width: 220px;
            margin-left: auto;
            margin-bottom:45px;
            .title{
                margin-bottom: 30px;
            }
            &#contacto ul li{
                margin:10px 0;
                justify-content: flex-end;
                img{
                    flex: auto;
                    margin-left: 15px;
                    width: 20px;
                    min-width: 20px;
                    max-width: 20px;
                }
            }
            &#formacion-adicional{
                h3{
                    margin-top: -15px;
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        ul{
                            margin-bottom: 15px;
                            .heading{
                                margin-bottom: 8px;
                            }
                            li{
                                margin-bottom: 2px;
                            }
                        }
                    }
                }
            }
            &#otros-datos{
                li{
                    margin-bottom: 10px;
                    h3{
                        font-size: $baseFontSize;
                    }
                }
            }
        }

    }
    > .right-column{
        float: left;
        width:calc(100% - 310px);
        padding-left: 60px;
        padding-top:20px;
        section{
            padding: 0 20px;
            margin-bottom: 50px;
            .title{
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            > div{
                margin-bottom: 20px;
                align-items: flex-start;
                .left-column{
                    margin-right: 45px;
                    .heading{
                        font-size: 22px;
                        margin-bottom:2px;
                    }
                    span{
                        font-size: 16px;
                        white-space: nowrap;
                    }
                }
                .right-column{
                    max-width: 600px;
                    .row{
                        align-items: flex-start;
                        .heading{
                            white-space: nowrap;
                            margin-right: 4px;
                        }
                    }
                }
            }
            &#estudios{
                padding-top: 40px;
                border-top: 3px solid $iconColor;
                .left-column{
                    .heading{
                        font-size: 19px;
                    }
                }
            }
            &#competencias{
                padding-top: 40px;
                border-top: 3px solid $iconColor;
                li.row{
                    margin-bottom: 24px;
                    img{
                        width: 22px;
                        min-width: 22px;
                        max-width: 22px;
                        margin-right: 20px;
                    }
                    &.start{
                        align-items: flex-start;
                        .row{
                            align-items: flex-start;
                            .heading{
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
    #left-column-control{
        width: 44px;
        height: 44px;
        position: fixed;
        bottom:20px;
        right: 20px;
        border-radius: 100%;
        border: 1px solid $negro;
        display:none;
        background-color: $negro;
        color:white;
        font-size: 25px;
        z-index: 11;
        @include transition(transform, 0.1s, ease-out);
        @include transform(rotate(0deg));
        @include no-select();
        &.rotated{
            @include transform(rotate(45deg))
        }
}
}
footer{
    padding: 20px;
}

@import 'partials/mediaquerys'